body {
  margin: 0;
  padding: 0; }

.img3d {
  height: 100vh;
  position: relative;
  overflow: hidden; }

.images-img3d {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 110%;
  min-height: 110%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms; }

.lol {
  white-space: pre-wrap; }

.images-img3d.m-w-150 {
  min-width: 150%;
  min-height: 150%; }

#preloader {
  z-index: 100;
  position: fixed;
  height: 100vh;
  font-family: 'Satisfy', cursive;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(0%, white));
  background: -webkit-linear-gradient(bottom, black 0%, white 0%);
  background: -o-linear-gradient(bottom, black 0%, white 0%);
  background: linear-gradient(0deg, black 0%, white 0%);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 300ms opacity , visibility 0ms 300ms;
  -o-transition: 300ms opacity , visibility 0ms 300ms;
  transition: 300ms opacity , visibility 0ms 300ms; }
  #preloader .logo {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    mix-blend-mode: difference; }
